* {
    box-sizing: border-box;
    max-width: 100%;
    max-height: auto;
    padding: 0;
    margin: 0;
}

  header {
    position: inline;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    background-color: #2a607c;
    
    }

  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #d9dcd6;
}


h2 {
    display: inline-block;
    text-align: left;

    
}

ul {
    text-align: right;
    padding: 30px;
    text-decoration: none;
    
}

li {
    display: inline-block;
    list-style-type: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    background-image: url("/Users/taylorryan/bootcamp/code-refactor/assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

#search-engine-optimization,
#online-reputation-management,
#social-media-marketing {
display: block;
max-width: 70%;
margin-bottom: 20px;
padding: 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #2a607c ;
color: white;
}


.aside {
    display: block;
    max-width: 30%;
    margin-bottom: 20px;
    padding: 50px;
    background-color:#2a607c;
    padding: 50px;
    float: right;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
